*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#151515;
    --pp-color: rgba(214, 22, 22, 0.724);
}
html{
    scroll-behavior: smooth;
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.7s ease;
}
.bo_dy.active{
    background-color: hwb(0 0% 100% / 0.998);
    color: white;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px){
    .container{
        max-width: 730px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1170px;
    }
}

.title{
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    width: fit-content;
    margin: 20px auto 100px;
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    top: 90%;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: var(--pp-color);
}
.title:after{
    content: '';
    position: absolute;
    top: 83%;
    left: 48%;
    width: 10px;
    height: 10px;
    border:2px solid black;
    background-color: white;
    border-radius: 50%;
}
.title p{
    font-size: 14px;
    color: var(--pp-color);
}
.title h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* end global rules */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 70px;
}
header .logo{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    z-index: 100;
    transition: 0.7s ease;
}
header .logo.active{
    color: white;
}
header .logo.is-active{
    color: white;
}


span{
    font-weight: bolder;
    font-size: 45px;
    color: black;
    font-family: cursive;
    transition: 0.7s ease;
}
span.active{
    color: var(--pp-color);
}
header .navbar ul{
    display: flex;
    flex-direction: row;
    padding: 25px;

}
@media(max-width:768px){
    header .navbar ul{
        display: none;
    }
}
header .navbar ul li a{
    padding:10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
    transition: 0.7s ease;
    color: var(--pp-color);
}

header .navbar ul li a:hover{
    border-bottom: solid 1px var(--pp-color);
    text-shadow: 1px 1px 30px var(--pp-color);
}
header .navbar ul li{
    margin-left: 15px;
}

header .navbar .bar{
    display: block;
    width: 30px;
    height: 20px;
}
header .navbar .bar span{
    width:100%;
    height: 2px;
    background-color: black;
    margin-top:3px;
}

.botto .light{
    width: 40px;
    font-size:30px;
    padding-top:19px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 900;
}

.botto .light .ligh{
    color:#000 ;
    
}
.botto .light .ligh.is-active{
    color:#fff;
}
.botto .light .ligh.active{
    color:#fff;
}
/* end header */


.container main{
    margin: 10px auto ;
    height: 60vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
@media(max-width:975px){
    .container main{
        justify-content: space-between;
    }
}
.container main .img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
@media(max-width:768px){
    .container main {
        padding: 0 50px;
    }
}
@media(max-width:600px){
    .container main {
        display:flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .container main .img{
        margin-top: 40px;
        width: 250px;
        height: 250px;
    }
}
.container main .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.container main .info{
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width:600px){
    .container main .info {
        margin: 0 auto;
    }
}
.container main .info p:first-child{
    font-size: 14px;
    text-transform: capitalize;
    color: var(--pp-color);
    margin-top: 28px;
    margin-bottom: -14px;

}


.container main .info h1{
    font-size: 34px;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    margin: 17px;
    margin-bottom: 10px;
}
.container main .info .info-h1.active{
    color: white;
}

.container main .info p{
    font-size: 27px;
    margin: 0;
    font-weight: 500;
    color:var(--pp-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main .info button{
    margin: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border:1px solid var(--main-color);
    overflow: hidden;
}


main .info button a{
    padding: 10px;
    font-size: 19px;
    font-weight: 800;
    color: var(--main-color);
}

main .info button:hover a{
    color: rgb(255, 255, 255);
}
main .info button{
    transition: 0.7s ease;
}
main .info button:hover{
    background-color: var(--pp-color);
    transform: scale(1.1);
    
}

main .info .social i{
    font-size: 25px;
    margin-left: 15px;
    transition: 0.7s ease;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
main .info .social .link0.active,main .info .social .link1.active,main .info .social .link2.active,main .info .social .link3.active,main .info .social .link4.active{
    color:var(--pp-color);
}
main .info .social .link0,main .info .social .link1,main .info .social .link2,main .info .social .link3,main .info .social .link4{
    color: white;
}

main .info .social i:hover{
    transform: scale(1.2);
}


.humbrger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background:none;
    outline: none;
    border:none;
    margin-top: 13px;
    z-index: 199;
}
.humbrger .bar{
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.7s;
    
}
.humbrger .bar.active{
    background-color: white;
}
.humbrger:hover .bar{
    width: 100%;
}
.humbrger:after, .humbrger::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 01s;
    z-index: 190;
    
}
.humbrger.active:after{
    background-color: white;
}
.humbrger.active::before{
    background-color: white;
}

.humbrger.is-active:before{
    transform: rotate(-45deg) translate(-9px , 4px);
    z-index: 190;
    background-color: white;

    
}
.humbrger.is-active::after{
    transform: rotate(45deg) translate(-9px ,-4px);
    z-index: 10;
    background-color: white;
    
}
.humbrger.is-active .bar{
    opacity: 0 ;
}


@media(min-width:768px){
    .humbrger{
        display: none;
    }
}


.mobile{
    background-color: #000000d6;
    min-height: 100vh;
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    z-index: 99;
    display: block;
    padding-top: 120px;
    transition: 0.7s ease;
}
.mobile.is-active{
    left: 0;
}

.mobile ul li a{
    text-align: center;
    background-color: rgba(62, 60, 60, 0.737);
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(182, 170, 170);
    transition: 0.7s ease;
    width: 200px;
    margin: 0px auto 16px;
}
.mobile ul li a:hover {
    transform: scale(1.1);
    color: rgb(173, 181, 181);
    background-color: #151515bc;
}



/*  start about section */

section .container aside{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    
}
@media(max-width:992px){
    section .container aside{
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    section .container aside{
        flex-wrap: wrap;
        min-height: 135vh;

    }
}
@media(max-width:400px){
    section .container aside{
        flex-wrap: wrap;
        min-height: 180vh;

    }
}

section .container aside .img{
    height: 400px;
    min-width: 380px;
    padding: 20px;
    margin: 0 30px 0 ;
    
}

@media(max-width:992px){
    section .container aside .img{
        margin: 0 auto;
        
        
    }
}
section .container aside .img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}


section .container aside .info-about{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    max-height: 380px;
    max-width: 100%;
    
}
section .container aside .info-about .cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    min-height: fit-content;
}
@media(max-width:768px){
    section .container aside .info-about .cards{
        margin: 0 auto;
        flex-wrap: wrap;

    }
}

section .container aside .info-about .cards .card{
    width: 50%;
    margin:  20px 10px;
    padding: 10px 0 ;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transition: 0.7s ease;
}
@media(max-width:768px){
    section .container aside .info-about .cards .card{
        margin: 10px auto;
        width: 60%;

    }
}
section .container aside .info-about .cards .card:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 30px var(--pp-color);
}
section .container aside .info-about .cards .card:hover i{
    transform: rotate(360deg);
}
section .container aside .info-about .cards .card i{
    font-size: 60px;
    transition: 0.7s ease;
}
section .container aside .info-about .cards .card h3{
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px;
    color: var(--pp-color);
    transition: 0.7s ease;
    position: relative;
}

section .container aside .info-about .cards .card:hover h3:after{
    position: absolute;
    bottom: 0;
    left: 25%;
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--pp-color);
}
section .container aside .info-about .cards .card p{
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    color: black;
    opacity: 0.9;
}
section .container aside .info-about .cards .card p.active{
    color: white;
}

section .container aside .info-about p{
    padding: 20px 10px;
    max-width: 100%;
    text-align: justify;
    font-size: 19px;
    font-weight: 100;
    text-transform: capitalize;

}







/* footer */

footer{

    background-color:var(--main-color);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}
footer .fot{
    height: 30vh;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



footer .fot .social{
    display:flex;
    padding: 10px;

}
footer .fot .logo span{
    color: white;
}
footer .fot .logo-info div a{
    color:rgb(251, 255, 0);

}
footer .fot .social i a{
    background-color:#eee;
}
footer .fot .social i{
    font-size: 30px;
    margin-left: 12px;
    transition: 0.7s ease;
    color: white;

}
footer .fot .social i:hover{
    transform: scale(1.1);
}

@media(max-width:786px){
    footer .fot{
        flex-direction: column;
        text-align: center;
    }
    footer .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: -30px auto -20px;
    }
}
footer p{
    margin:-20px auto;
    width: fit-content;
    padding: 0 10px 40px;
    font-size: 14px;
    opacity: 0.8;
    color:white;
    text-align: center;


}